<%- include("templates/header") %>
<h2>Welcome, <%= username %>!</h2>

<a class="btn btn-primary rounded-pill px-3" type="button" href="/members">Members Area</a>
<a class="btn btn-secondary rounded-pill px-3" type="button" href="/logout">Log out</a>
<%- include("templates/footer") %>


