<%- include("templates/header") %> 

    <div class="p-5 text-center bg-body-tertiary rounded-3">
        <h1 style='color:red'>Error!</h1>

        <div><%= error %> </div>
      </div>
<%- include("templates/footer") %> 


