<%- include("templates/header") %>
<h2>Hello, <%= username %>!</h2>
<a class="btn btn-secondary rounded-pill px-3" type="button" href="/logout">Log out</a>
<br>
<div class="row mb-3 text-center">
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/pokemon01.png" style="width:250px;"></div>
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/pokemon02.png" style="width:250px;"></div>
    <div class="col-md-4 themed-grid-col"><img class="img-fluid" src="/pokemon03.png" style="width:250px;"></div>
  </div>

<%- include("templates/footer") %>
