<%- include("templates/header") %> 
<div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Name is required. </h1> <br>
        <a class="btn btn-primary rounded-pill px-3" type="button" href="/createUser">Try Again</a>
</div>
<%- include("templates/footer") %> 

