<%- include("templates/header") %> 
<div class="p-5 text-center bg-body-tertiary rounded-3">
<a class="btn btn-primary rounded-pill px-3" type="button" href="/createUser">Sign up</a><br><br>
<a class="btn btn-secondary rounded-pill px-3" type="button" href="/login">Log in</a>
</div>
<%- include("templates/footer") %> 


